@import "mixins";
@import "colors";
@import "variables";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/lightgallery.js/dist/css/lightgallery.css";

.display-4 {
    @include media-breakpoint-down(sm) {
        // font-size: 3rem;
    }      
}

.lead {
    @include media-breakpoint-down(sm) {
        font-size: 0.875rem;
    }      
}